{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Article {{id}}</title>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

      <link rel="stylesheet" href="{% static 'article/css/article.css' %}">

  
</head>

<body>
  <body ng-controller="RegisterCtrl" ng-app="myApp">
 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class = "topPart">

             <div class = "projectName">
                <h1>{{id}} </h1>
             </div>
                
              
         </div>
          
            <div class = "mainInfo">

                




                <div class = "info1"> 
                    Author:<br>
                    Upload date:<br>
                   
                </div>
                <div class = "info2"> 
                    {{author}} <br>
                    {{upload_date}} <br>
                  
                </div>
            </div>
          
          <div class = "bottomPart">
            <div class="divider"></div>
              
              
             {{article_body|safe}}
          
          
          </div>
          
           </div>
        </div>
    </div>
</body>
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>

    <script  src="{% static 'study/js/study.js' %}"></script>
    
    

</body>
</html>
